/* CUSTOM PROPS */
:root{
    --text-color: var(--text-color);
    --accent-color-green: #0a775f;
    --accent-color-green-80: rgb(10, 119, 95, 0.8);
    --accent-color-green-60: rgb(10, 119, 95, 0.6);
    --accent-color-light-brown:#c99b67;
    --accent-color-light-brown-80:rgb(201, 155, 103, 0.8);
    --accent-color-light-brown-60:rgb(201, 155, 103, 0.6);
    --light-brown:#f3d7b7;
    --light-bg:#f8f8f2;
    --outline-color:var(--accent-color-green);
}


/* FONTS */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/") format("woff2"),
        url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
        url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* GLOBAL */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing:inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    font-family: "Roboto", "Arial",sans-serif;
    background-color: #fff;
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
}

*:focus{
    outline: 2px dashed var(--outline-color);
    outline-offset:3px ;
}

.button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 24px;
    border: 0;
    border-radius: 100px;
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 0;
    white-space: nowrap;
}


.button-green{
    background-color: var(--accent-color-green);
    color: #fff;

}

.button-green:hover{
    background-color: var(--accent-color-green-80);
}

.button-green:active{
    background-color: var(--accent-color-green-60);
}

.button-brown{
    background-color: var(--accent-color-light-brown);
    color: #fff;

}

.button-brown:hover{
    background-color: var(--accent-color-light-brown-80);
}

.button-brown:active{
    background-color: var(--accent-color-light-brown-60);
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content{
    flex-grow: 1;
}


/* SITE-HEADER-HERO-WRAPPER */
.site-header-hero-wrapper{
    background-color:var(--light-brown);
    background-image: url(.../fonts/./img/group-fon.jpg);
}


/* SITE-HEADER */
.site-header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.site-header-link{
    flex-shrink: 0;
    display: flex;
    text-decoration: none;
    margin-right: auto;
}

.site-header-link:hover{
    opacity: 0.8;
}

.site-header-link:active{
    opacity: 0.6;
}

.site-header-img{
    width: 235px;
    height: 24px;
    object-fit: cover;
}


/* SITENAV */
.site-header-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-header-item:not(:last-child) {
    margin-right: 40px;
}

.sitenav-link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
    color: var(--text-color);
    white-space: nowrap;
}

.sitenav-link:hover{
    color: var(--accent-color-green);
}



/* HERO */
.hero-container {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}

.hero-info-wrapper{
    width: 100%;
    max-width: 730px;
    padding-top: 116px;
    padding-left: 150px;
    padding-right: 116px;
    padding-bottom: 100px;
}

.hero-content-heading {
    font-weight: 700;
    font-size: 64px;
    line-height: normal;
    color: #000;
    margin-top: 0;
    margin-bottom: 24px;
}

.hero-content-text {
    margin: 0;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-style: normal;
}

.hero-content-tex:not(:last-child){
    margin-bottom: 34px;
}

.hero-content-img{
    width: 710px;
    height: 596px;
    object-fit: cover;
}

.hero-img-index{
    width: 696px;
}

/* COLLECTION */
.index-container{
    padding-top: 20px;
    padding-bottom: 0;
}

.index-collection-fon{
    background-color: #f5f5ec;
    background-image: url(../img/rectangle-fon.jpg);
    padding-top: 50px;
    padding-bottom: 50px;

}

.index-collection-list{
    margin: 0;
    padding-left: 143px;
    padding-right: 143px;
}

.index-collection-item:nth-child(even){
    flex-direction: row-reverse;
}

.index-collection-item{
    display: flex;
    align-items: center;
}


.index-collection-part-piccollo-img{
    flex-shrink: 0;
    width: 450px;
    height: 375px;
    object-fit: cover;
}

.index-collection-info{
    flex-grow: 1;
    padding-left: 117px;
    padding-right: 117px;
}

.index-collection-top-heading {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 80;
    text-align: center;
    font-variant: small-caps;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color:#000;
}

.index-collection-part-heading {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    font-variant: small-caps;
}

.index-collection-part-text {
    margin-top:0 ;
    margin-bottom: 0;
    color: var(--text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
}


/* INDEX-FEATURES  */
.index-features {
    margin-bottom: 50px;
}

.indext-features-inner {
    padding: 50px 30px;
    background-image: url(../img/choose-bg.jpg);
    background-color: var(--accent-color-light-brown);
    background-repeat: no-repeat;
    background-size: 100% 700px;
}

.index-features-heading {
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    color:#fff;
    text-align: center;
    line-height: normal;
    font-size: 50px;
}

.index-features-text {
    max-width: 580px;
    margin-top: 0;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
}

.index-features-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left:-20px;
    list-style: none;
}

.index-features-item {
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    margin-bottom: 30px;
}

.index-features-img {
    width: 433px;
    height: 500px;
    margin-bottom: 28px;
    object-fit: cover;
}

.index-features-item-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.index-features-item-text {
    margin: 0;
    font-size: 18px;
    ;height: 28px;
}


/* HOW-IT-WORKS */
.how-it-works-inner {
    padding: 50px 30px;
    text-align: center;
    background-color: var(--accent-color-green);
    background-image:url(../img/salatvi-bg.png);
}

.how-it-wors-inner-heading {
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
    color: #fff;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
}


.how-it-wors-list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    list-style: none;
    margin-left: -20px;
    text-align: left;
    counter-reset: how-it-works;
}

.how-it-wors-item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    counter-increment: how-it-works;
}

.how-it-wors-item::before{
    width: 60px;
    height: 60px;
    border: 4px solid var(--accent-color-light-brown);
    background-color: var(--light-bg);
    margin-bottom: 20px;
    content: "";
}

.how-it-wors-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--light-bg);
    padding: 20px 20px 40px;
}

.how-it-wors-info::before {
    align-self: flex-end;
    font-size: 64px;
    line-height: normal;
    margin-bottom: 45px;
    content: "0"counter(how-it-works);
}

.how-it-works-step-title {
    max-width: 250px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    font-variant: small-caps;
    color: #333;
}

.how-it-works-step-text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333;
}


/* RETINA-BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .site-header-hero-wrapper{
        background-image: url(../img/group-fon@2x.jpg);
    }
    .indext-features-inner{
        background-image: url(../img/choose-bg@2x.jpg);
    }

    .index-collection-fon{
        background-image: url(../img/rectangle-fon@2x.jpg);
    }

    ..how-it-works-inner{
        background-image: url(../img/salatvi-bg@2x.png);
    }


}