/* CUSTOM PROPS */
:root{
    --text-color: #333;
    --accent-color-green: #0a775f;
    --accent-color-green-80: rgb(10, 119, 95, 0.8);
    --accent-color-green-60: rgb(10, 119, 95, 0.6);
    --accent-color-light-brown:#c99b67;
    --accent-color-light-brown-80:rgb(201, 155, 103, 0.8);
    --accent-color-light-brown-60:rgb(201, 155, 103, 0.6);
    --light-brown:#f3d7b7;
    --light-bg:#f8f8f2;
    --outline-color:var(--accent-color-green);
}


/* FONTS */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/") format("woff2"),
        url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
        url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* GLOBAL */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing:inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    font-family: "Roboto", "Arial",sans-serif;
    background-color: #fff;
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

*:focus{
    outline: 2px dashed var(--outline-color);
    outline-offset:3px ;
}

.button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 24px;
    border: 0;
    border-radius: 100px;
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 0;
    white-space: nowrap;
}


.button-green{
    background-color: var(--accent-color-green);
    color: #fff;

}

.button-green:hover{
    background-color: var(--accent-color-green-80);
}

.button-green:active{
    background-color: var(--accent-color-green-60);
}

.button-brown{
    background-color: var(--accent-color-light-brown);
    color: #fff;

}

.button-brown:focus{
    outline: 2px dashed #fff;
    outline-offset:3px ;
}

.button-brown:hover{
    background-color: var(--accent-color-light-brown-80);
}

.button-brown:active{
    background-color: var(--accent-color-light-brown-60);
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content{
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* SITE-HEADER-HERO-WRAPPER */
.site-header-hero-wrapper{
    background-color:var(--light-brown);
    background-image: url(../img/group-fon.jpg);
}


/* SITE-HEADER */
.site-header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.site-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.site-header__link{
    flex-shrink: 0;
    display: flex;
    text-decoration: none;
    margin-right: auto;
}

.site-header__link:hover{
    opacity: 0.8;
}

.site-header__link:active{
    opacity: 0.6;
}

.site-header__img{
    width: 235px;
    height: 24px;
    object-fit: cover;
}


/* SITENAV */
.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 40px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
    color: var(--text-color);
    white-space: nowrap;
}

.sitenav__link:hover{
    color: var(--accent-color-green);
}



/* HERO */
.hero__container {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}

.hero__info-wrapper{
    width: 100%;
    max-width: 730px;
    padding-top: 116px;
    padding-left: 150px;
    padding-right: 116px;
    padding-bottom: 100px;
}

.hero__content-heading {
    font-weight: 700;
    font-size: 64px;
    line-height: normal;
    color: #000;
    margin-top: 0;
    margin-bottom: 24px;
}

.hero__content-text {
    margin: 0;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-style: normal;
}

.hero__content-tex:not(:last-child){
    margin-bottom: 34px;
}

.hero__content-imgs{
    position: relative;
}

.hero__content-img{
    display:block;
    width: 710px;
    height: 696px;
    object-fit: cover;
}

.hero__index-img{
    position: absolute;
    display: inline-block;
    width: 160px;
    height: 160px;
    top: -80px;
    left: -80px;
    object-fit: cover;
}

/* COLLECTION */
.index__container{
    padding-bottom: 0;
    margin-bottom: 20px;
}

.index-collection{
    position: relative;
    background-color: #f5f5ec;
    background-image: url(../img/rectangle-fon.jpg);
    padding-top: 50px;
    padding-bottom: 50px;

}

.index-collection__list{
    margin: 0;
    padding-left: 143px;
    padding-right: 143px;
}

.index-collection__item:nth-child(even){
    flex-direction: row-reverse;
}

.index-collection__item{
    display: flex;
    align-items: center;
}


.index-collection__part-piccollo-img{
    flex-shrink: 0;
    width: 450px;
    height: 375px;
    object-fit: contain;
}

.index-collection__leaf-img{
    position: absolute;
    top: 0;
    left: -201px;
    transform: rotate(-22deg);
    width: 402px;
    height: 300px;
    object-fit: cover;
}

.index-collection__part-piccollo-leaf-img{
    position: absolute;
    z-index: 1;
    top: 685px;
    right: -146px;
    transform: matrix(0.92, -0.39, 0.39, 0.92, 0, 0);
    width: 292px;
    height: 477px;
    object-fit: contain;
}

.index-collection__part-planalto-leaf-img{
    position: absolute;
    bottom: 170px;
    right: 1170px;
    transform: rotate(-7deg);
    width: 316px;
    height: 269px;
    object-fit: contain;
}

.index-collection__leaf-img-2{
    position: absolute;
    z-index: 0;
    top: 832px;
    left: 1228px;
    width: 253px;
    height: 215px;
    object-fit: contain;
}

.index-collection__info{
    flex-grow: 1;
    padding-left: 117px;
    padding-right: 117px;
}

.index-collection__top-heading {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 80;
    text-align: center;
    font-variant: small-caps;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color:#000;
}

.index-collection__part-heading {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    font-variant: small-caps;
}

.index-collection__part-text {
    margin-top:0 ;
    margin-bottom: 0;
    color: var(--text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
}


/* INDEX-FEATURES  */
.index-features {
    margin-bottom: 30px;
}

.indext-features-inner {
    position: relative;
    padding: 50px 30px;
    background-image: url(../img/choose-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 700px;
}

.index-features__heading {
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    color:#fff;
    text-align: center;
    line-height: normal;
    font-size: 50px;
}

.index-features__text {
    max-width: 580px;
    margin-top: 0;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
}

.index-features__but-img{
    position: absolute;
    left: -18px;
    top: 247px;
    width: 140px;
    height: 144px;
    object-fit: cover;
}

.index-features__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left:-20px;
    list-style: none;
}

.index-features__item {
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    margin-bottom: 30px;
}

.index-features__img {
    width: 433px;
    height: 500px;
    margin-bottom: 28px;
    object-fit: cover;
}

.index-features__item-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.index-features__item-text {
    margin: 0;
    font-size: 18px;
    ;height: 28px;
}


/* HOW-IT-WORKS */
.how-it-works__inner {
    position: relative;
    padding: 50px 30px;
    text-align: center;
    background-color: var(--accent-color-green);
    background-image:url(../img/salatvi-bg.png);
}

.how-it-works__inner-heading {
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
    color: #fff;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
}

.how-it-works__img{
    position: absolute;
    top: 41px;
    right: 68px;
    transform: rotate(21.96deg);
    width: 192px;
    height: 129px;
    object-fit: cover;
}


.how-it-works__list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    list-style: none;
    margin-left: -20px;
    text-align: left;
    counter-reset: how-it-works;
}

.how-it-works__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    counter-increment: how-it-works;
}

.how-it-works__item::before{
    position: relative;
    z-index: 2;
    width: 60px;
    height: 60px;
    border: 4px solid var(--accent-color-light-brown);
    background-color: var(--light-bg);
    margin-bottom: 20px;
    content: "";
}

.how-it-works__item:not(:last-child):after{
    position: absolute;
    top: 30px;
    left: 35px;
    width: 433px;
    height: 3px;
    background-image: url(../img/vector.svg);
    background-repeat: no-repeat;
    content: "";
}

.how-it-works__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--light-bg);
    padding: 20px 20px 40px;
}

.how-it-works__info::before {
    align-self: flex-end;
    font-size: 64px;
    line-height: normal;
    margin-bottom: 45px;
    content: "0" counter(how-it-works);
}

.how-it-works__step-title {
    max-width: 250px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    font-variant: small-caps;
    color: #333;
}

.how-it-works__step-text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333;
}


/* FOOTER */
.site-footer-wrapper {
    background-color: var(--light-brown);
    background-image: url(../img/footer-bg.jpg);
    margin-top: 30px;
}

.footer {
    padding-top: 65px;
    padding-bottom: 65px;
}

.footer__container {
    padding-left: 50px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__list{
    margin-right: 331px;
}

.footer__social-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__social-items {
    display: flex;
    margin-right: 30px;
}

.footer__social-networks-link {
    display: inline-block;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer__social-networks-img {
    width: 30px;
    height: 30px;
}


/* OUT-COMMITMENT */
.our-commitment__wrapper{
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 200px;
    padding-left: 64px;
    padding-right: 64px;
    background-color: var(--light-bg);
}

.our-commitment__img {
    display: block;
    width: 360px;
    height: 364px;
    margin-left: 100px;
    margin-right: 185px;
}

.our-commitment__content {
    width: 626px;
}

.our-commitment__heading {
    margin-top: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #000;
}

.our-commitment__text {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
}


/* DISCRUSSION */
.discussion {
    position: relative;
    background-color: var(--accent-color-light-brown);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 118px;
    margin-top: 160px;
    margin-bottom: 20px;

}

.discussion__wrapper {
    width: 639px;
    padding-left: 143px;
}

.discussion__heading {
    margin-top: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
}

.discussion__text {
    margin: 0;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}

.discussion__img {
    position: absolute;
    right: 30px;
    bottom: 90px;
    display:block;
    width: 550px;
    height: 500px;
    margin-right: 30px;
}


/* OUR-HEADQUARTERS */
.our-headquarters__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    counter-increment: how-it-works;
}

.our-headquarters__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--light-bg);
    padding:140px 20px 20px 40px;
}

.our-headquarters__item:first-child::before{
    position: absolute;
    right: 55px;
    top: 45px;
    content: "";
    display: inline-block;
    margin-left: auto;
    width: 120px;
    height: 143px;
    background-image: url(../img/united-kingdom.png);
    background-repeat: no-repeat;
    position: absolute;

}

.our-headquarters__item:nth-child(2)::before{
    position: absolute;
    right: 55px;
    top: 45px;
    content: "";
    display: inline-block;
    margin-left: auto;
    width: 120px;
    height: 120px;
    background-image: url(../img/canada.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}

.our-headquarters__item:last-child::before{
    position: absolute;
    right: 55px;
    top: 45px;
    content: "";
    display: inline-block;
    margin-left: auto;
    width: 120px;
    height: 107px;
    background-image: url(../img/australia.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}

.how-it-works__step-title {
    max-width: 250px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    font-variant: small-caps;
    color: #333;
}

.how-it-works__step-text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333;
}



/* MENU */
.menu-wrapper{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--light-bg);
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
    padding-right: 144px;
    margin-top: 20px;
}

.menu-piccollo-img{
    position: absolute;
    z-index: 1;
    top: 176px;
    left: 1256px;
}

.menu-leaf-img{
    position: absolute;
    z-index: 0;
    top: 276px;
    left: 1265px;
}

.menu-img{
    position: absolute;
    transform: rotate(-22deg);
    top: 714px;
    right: 1235px;
}

.menu-planato-img{
    position: absolute;
    top: 1465px;
    right: 1330px;
    transform: rotate(-7deg);
}

.menu-types {
    display: flex;
    flex-direction: column;
}

.menu-types-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
}

.menu-types-link:not(:last-child){
    margin-bottom: 35px;
}


/* PREFERENTIAL-QUIZES */
.preferential-quizes__top {
    display: flex;
    align-items: center;
}

.preferential-quizes__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 44px;
}

.drop-down {
    margin: 0;
    background-color: #f8f8f8;
    border: 0;
}

.drop-down__img {
    display: inline-block;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.preferential-quizes__list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    list-style: none;
}

.preferential-quizes-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 660px;
}

.preferential-quizes-form__input:checked ~ span {
    background-color: var(--accent-color-green);
    color: #fff;
}

.preferential-quizes-form__label {
    min-width: 208px;
}

.preferential-quizes-form__label span {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    flex-direction: column;
    margin-left: 18px;
    background-color:rgba(10, 119, 95, 0.2);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 12px;
    padding-left: 16px;
    color: var(--text-color);
    /* border: 2px solid red; */
}

.preferential-quizes__content-heading {
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.preferential-quizes__content-text {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
}

.order-summary {
    text-align: right;
}

.definition-list {
    background-color: var(--accent-color-light-brown);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

.order-definition-term {
    color: #fff;
}
.order-definition {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #fff;
}

.selected-option {
    color: #000;
}



/* RETINA-BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .site-header-hero-wrapper{
        background-image: url(../img/group-fon@2x.jpg);
    }
    .indext-features-inner{
        background-image: url(../img/choose-bg@2x.jpg);
    }

    .index-collection-fon{
        background-image: url(../img/rectangle-fon@2x.jpg);
    }

    .how-it-works-inner{
        background-image: url(../img/salatvi-bg@2x.png);
    }

    .footer__wrapper{
        background-image:url(../img/footer-bg@2x.jpg);
    }


}